<header class="header1">
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="/images/Mt_Baker.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3">Skinder</h1>
                <p class="lead mb-0">Join friends and shred the gnar, dawg.</p>
            </div>
        </div>
    </div>
</header>
<nav class="navbar sticky-top navbar-custom">
    <div class="container">
        <div class="navbar-brand mb-0 h1 navbar-custom">Skinder</div>
        <a class="nav-link ml-auto" href="/">Home</a>
        <a class="nav-link" href="/forum">Forum</a>
    </div>
</nav>
<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Enter a city</h5>
                    <input type="search" id="place-search-input" placeholder="Start Searching..." />

                    <button type="button" id="submitBtn" class="btn btn-primary mt-2">Search Trails</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="results">

    </div>
</div>
{{!-- <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{this.trailPic}}" class="card-img" alt="Snowy Mountain">
            </div>
            <div class="col-md-8">
                <h4 class="card-header card-custom">{{trailName}}</h4>
                <div class="card-body">
                    <div class="row">
                        <h5 class="col-md-4">Trail Difficulty: {{this.trailDiff}}</h5>
                        <h5 class="col-md-4 text-center">Trail Length: {{this.trailLength}}</h5>
                        <h5 class="col-md-4 text-center">Rating: {{this.rating}}/5</h5>
                    </div>
                    <p class="card-text">{{this.trailDesc}}</p>
                    <div class="row">
                        <div class="col-md-9 text-left">Location: {{this.trailLocation}}</div>
                        <div class="text-right">
                            <button type="button" class="btn btn-primary saveTrail">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> --}}

</div>

