<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">User Account</h5>
          <p>
            <strong>Name</strong>: {{user.name}}</p>
          <p>
          <p>
            <strong>Email</strong>: {{user.email}}</p>
                      <p>
            <strong>Phone</strong>: {{user.phone}}</p>
                      <p>
            <strong>Ability</strong>: {{user.ability}}</p>
                                  <p>
            <strong>Zipcode</strong>: {{user.zipcode}}</p>

            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
