<nav class="navbar sticky-top navbar-custom">
  <div class="container">
    <div class="navbar-brand mb-0 h1 navbar-custom">Skinder</div>
    <a class="nav-link ml-auto" href="/">Home</a>
    <a class="nav-link" href="/forum">Forum</a>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-4 mr-auto">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">User Account</h5>
          <p>
            <strong>Name</strong>: {{user.name}}</p>
          <p>
            <p>
              <strong>Email</strong>: {{user.email}}</p>
            <p>
              <strong>Phone</strong>: {{user.phone}}</p>
            <p>
              <strong>Zipcode</strong>: {{user.zipcode}}</p>
            <p>
              <strong>Ability</strong>: {{user.ability}}</p>
            <p>
              <strong>Type</strong>: {{user.type}}</p>
            <p>
              <strong>Powderhound</strong>: {{user.powderhound}}</p>

        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Hello I'm saved trails</h5>
          <div class="savedTrails">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>